.style-menu-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #2e2e2e;
    padding: 10px;
    border-bottom: 1px solid grey;
}

.style-menu-name {
    font-weight: 800;
    color: #2e2e2e;
    margin-bottom: 0;
}

.style-menu-description {
    font-style: italic;
    margin-top: 0;
    margin-bottom: 0;
}
.style-menu-price {
    color: rgb(173, 50, 50);
    font-weight: bold;
    margin-top: 0;
}

button {
    color: #fff;
    padding: 5px 20px;
    background-color:  rgb(114, 3, 3);
    border-radius: 15px;
    margin-top: 5px;
}
.style-menu-amount {
    border: 1px solid grey;
    padding: 1px 17px;
    border-radius: 7px;
}
