.headerContainer {
    position: fixed;
    top: 0;
    left: 0;
    /* padding: 0 10%; */
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(114, 3, 3);
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    align-items: center;
}

.img-main {
    height: 25rem;
    width: 100%;
}